/**
The css in this file is only for backend editor.
This will be used to match the fonts, sizes etc in backend editor with the frontend
*/

/*body {
  background: #ddd;
}*/


.wp-block-separator {
  border-top-color: #707070;

}

.wp-block-cover.service-cover {
  .block-editor-block-list__block {
    color: var(--primary) !important;
  }

  p:not(.has-text-color) {
    color: var(--primary) !important;
  }
}
