.our-featured-services__hr {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.our-featured-services {
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  > .row {
    > .wp-block-lg-blocks-card {
      margin-bottom: 2.5rem;
    }
  }

  .card-content {
    padding: 0;
  }

  .card-body {
    padding: 0;
  }

  [class*="icon"] {
    position: relative;
    padding-left: 2.8rem;

    &:before {
      content: "";
      display: block;
      height: 130%;
      width: 100%;
      max-width: 40px;
      position: absolute;
      background-repeat: no-repeat;
      left: 0;
      top: 0;
    }
  }

  .icon-1:before {
    background-image: url("../images/retaining-walls.svg");
  }

  .icon-2:before {
    background-image: url("../images/cedar-fencing.svg");
  }

  .icon-3:before {
    background-image: url("../images/driveway-patio-paving.svg");
  }

  .icon-4:before {
    background-image: url("../images/lawn-garden-maintenance.svg");
  }

  .icon-5:before {
    background-image: url("../images/tree-shrub-groundcare.svg");
  }

  .icon-6:before {
    background-image: url("../images/landscape-lighting.svg");
  }

  .icon-7:before {
    background-image: url("../images/leaf-debris-cleanup.svg");
  }

  .icon-8:before {
    background-image: url("../images/snow-removal.svg");
  }

}

@include media-breakpoint-up(sm) {
  .our-featured-services {
    .card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .wp-block-button {
      margin-top: auto;
      padding-top: 1.5rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .our-featured-services {
    h3 {
      font-size: 1rem;
    }
  }
}
