.project-cards {
  .wp-block-lg-blocks-card {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    .card {
      box-shadow: 0px 5px 15px #0000001a;
      color: theme-color("primary");

      .card-content {
        padding: 0;

        .card-body {
          padding: 1rem;

          h5 {
            font-size: 1rem;
          }

          h6 {
            font-weight: 300;
          }
        }
      }
    }
  }
}
