.service-cards {
  > .row > .wp-block-lg-blocks-card.col {
    margin-bottom: 2rem;
  }

  h2 {
    position: relative;
    left: calc(-2rem);
    width: calc(100% + 4rem);
    color: #fff;
    padding: .5rem 2rem;
    font-size: 1.25rem;
    background-color: theme-color('tertiary');
  }

  .card-content {
    box-shadow: 0 3px 6px #00000029;
  }

  .card-body {
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    ul {
      flex-grow: 1;
    }
  }

  img {
    height: 150px;
    object-fit: cover;
  }
}

@include media-breakpoint-down(sm) {
  .service-cards {
    .wp-block-lg-blocks-card.col {
      padding: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .service-cards {
    h2 {
      left: calc(-2rem - 15px);
      width: calc(100% + 4rem + 30px);
    }
  }
}

@include media-breakpoint-up(xl) {
  .service-cards {
    max-width: 1615px !important;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem);

    h2 {
      font-size: .8rem;
    }

    img {
      height: 180px;
    }
  }

}

@media (min-width: 1600px) {
  .service-cards {
    > .row > .wp-block-lg-blocks-card.col {
      margin-bottom: 4rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
}
