.careers-accordian {
  .accordion-header {
    background-color: theme-color("tertiary");
    color: #fff;
    padding: 1rem 1.25rem;
    &:after {
      right: 1.25rem;
    }
    h5 {
      color: #fff;
      font-weight: 500;
    }
  }
}

.job-sites {
  .wp-block-group__inner-container {
    display: flex;
    > .wp-block-image:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
