.ui-datepicker {
  background-color: theme-color("light-gray");
  padding: 1rem;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
  table {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .ui-datepicker-prev {
    margin-right: 0.75rem;
  }
  .ui-datepicker-title {
    > select:first-child {
      margin-right: 0.75rem;
    }
  }
}
.application-form {
  max-width: 1200px !important;
  .gform_wrapper {
    form {
      ::placeholder {
        color: #525252;
      }
      ul {
        list-style: none;
        padding-left: 0;
      }
      .gform_body {
        .gform_fields {
          list-style: none;
          padding-left: 0;
          .gfield {
            &.show-label {
              .gfield_label {
                position: static;
              }
            }
            .gfield_label,
            .ginput_container_address label {
              clip: rect(1px, 1px, 1px, 1px);
              position: absolute;
              overflow: hidden;
              display: inline-block !important;
            }
            .ginput_container_address {
              input {
                margin-bottom: 1rem;
              }
            }
            .ginput_container {
              $field_padding: 0.75rem;
              $field_border: 1px solid #525252;
              input:not([type="checkbox"]):not([type="radio"]),
              select,
              textarea {
                padding: $field_padding;
                width: 100%;
                border: $field_border;
              }
              input[type="radio"],
              input[type="checkbox"] {
                margin-right: 0.25rem;
              }
              textarea {
                height: 150px;
              }
              select {
                padding: 0.5rem 0.75rem;
              }
              &.ginput_container_date {
                > .clear-multi {
                  display: flex;
                  flex-wrap: wrap;
                  > div:not(:last-child) {
                    margin-right: 0.75rem;
                  }
                }
              }
            }
            &:not(:last-child) {
              margin-bottom: 1rem;
            }
          }
        }
      }
      .gform_footer {
        input[type="submit"] {
          $btn_color: theme-color("tertiary");
          background-color: $btn_color;
          border-color: $btn_color;
          transition: all 0.4 ease-in-out !important;
          &:hover {
            border-color: darken($btn_color, 5%);
            background-color: darken($btn_color, 5%);
            transition: all 0.4 ease-in-out !important;
          }
        }
      }
    }
  }
}
