.page-header {
  background-color: transparent;
  min-height: 8rem;
}

@include media-breakpoint-up(md) {
  .page-header {
    min-height: 9rem;
  }
}

// fix top banner color overlay
.wp-block-cover.has-background-dim {
  &.has-tertiary-background-color {
    background-color: theme-color("tertiary");
  }
}
