.is-style-outline {
  color: unset;
}
.wp-block-button__link {
  border-radius: 0;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn-lg {
  .wp-block-button__link {
    font-size: 1rem;
    padding: 0.4rem 2rem;
  }
}

.btn-secondary {
  color: #fff;
}

.is-style-outline {
  @mixin btn_outline($color) {
    .wp-block-button__link.has-#{$color}-color {
      border: 1.25px solid;
      color: theme-color($color);
      &:active,
      &:focus,
      &:hover {
        background-color: theme-color($color);
        border-color: theme-color($color);
        @if $color == "white" {
          color: theme-color("tertiary");
        } @else {
          color: #fff;
        }
      }
    }
  }
  @include btn_outline("primary");
  @include btn_outline("secondary");
  @include btn_outline("tertiary");
  @include btn_outline("white");
}

@include media-breakpoint-up(xl) {
  .wp-block-button__link {
    font-size: 0.8rem;
  }

  .btn-lg {
    .wp-block-button__link {
      font-size: 1rem;
    }
  }
}
