.wp-block-columns.contact-wrap {
  margin-bottom: 0;
  ul {
    list-style: none;
    padding-left: 0;
  }

  .wp-block-column {
    box-shadow: 0 3px 6px #00000029;

    &:first-child {
      background-color: #fbfbfb;
      padding: 1rem;
      margin-bottom: 3rem;
    }

    &:last-child {
      padding: 0 1rem 0 1rem;

      > ul {
        font-size: 1rem;
        li {
          position: relative;
          padding-left: 3rem;
          margin-bottom: 2rem;
          font-size: 1.25rem;

          a {
            color: theme-color("primary");

            &:hover {
              color: theme-color("secondary");
            }
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 2rem;
            height: 100%;
            background-size: contain;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: top;
            background-color: theme-color("primary");
            mask-repeat: no-repeat;
          }
        }

        li:first-child {
          &:before {
            mask-image: url(../images/location.svg);
            width: 2.25rem;
            height: 2.25rem;
          }
        }

        li:nth-child(2) {
          &:before {
            height: 2.5rem;
            mask-image: url("../images/phone.svg");
          }
        }

        li:last-child {
          &:before {
            mask-image: url("../images/mail.svg");
          }
        }
      }
    }
  }

  .lg-social-media {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;

    a {
      color: theme-color("primary");
      display: block;
      padding-right: 1rem;

      &:hover {
        color: theme-color("secondary");
      }
    }

    li {
      font-size: 2rem;
      display: inline-block;
    }
  }

  iframe {
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
    display: block;
  }

  .gform_wrapper {
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      border: 1px solid #525252;
      border-radius: 0;
    }
    .gform_body {
      .gform_fields {
        list-style: none;
        padding-left: 0;
        .gfield {
          label {
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
            overflow: hidden;
            display: inline-block !important;
          }
          .ginput_container {
            $field_padding: 0.75rem;
            $field_border: 1px solid #525252;
            input,
            select,
            textarea {
              padding: $field_padding;
              width: 100%;
              border: $field_border;
            }
            textarea {
              height: 150px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .gform_footer input[type="submit"] {
      @extend .btn-secondary;
    }

    textarea {
      border-radius: 0;
    }
  }
}

body .wp-block-columns.contact-wrap {
  .gform_wrapper {
    li.hidden_label input {
      margin-top: 0;
    }

    ul li.gfield {
      margin-top: 0;
    }

    .top_label div.ginput_container {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .wp-block-columns.contact-wrap {
    width: 100% !important;

    .wp-block-column {
      flex-basis: 100% !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .wp-block-columns.contact-wrap {
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: 3rem;

    iframe {
      width: 100%;
      margin: 0;
    }

    .wp-block-column {
      box-shadow: none;

      &:first-child {
        margin-bottom: 0;
        padding: 2rem;
        flex-basis: 40% !important;
      }

      &:last-child {
        padding: 2rem 0 0 0;

        > ul,
        > div {
          padding: 0 2rem;
        }
      }
    }

    .wp-block-column:nth-child(even) {
      margin-left: 0 !important;
      flex-basis: 60% !important;
    }
  }
}
