hr {
  border-top-color: #707070;
}

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

ul, ol {
  li {
    margin-bottom: .6rem;
  }
}

#site-content
> main
> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  @extend .container;
  padding: 0;
  width: calc(100% - 2rem);
}

.alignfull {
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
  position: relative;
  width: 100%;
}

body {
  color: theme-color("primary");
}

a {
  color: theme-color("secondary");

  &:hover,
  &:active,
  &:focus {
    color: theme-color("tertiary");
  }
}
.is-style-checkbox-icon li {
  padding-left: 2rem;
}
.is-style-checkbox-icon li:before {
  -webkit-mask-image: url(/wp-content/themes/wp-web-landescapemaintenance/assets/dist/images/Leaf-Bulletpoint.svg);
  mask-image: url(/wp-content/themes/wp-web-landescapemaintenance/assets/dist/images/Leaf-Bulletpoint.svg);
  top: 0.4rem;
  left: 0;
  height: 0.8em;
  width: 1.2em;
  color: theme-color("tertiary");
}

@include media-breakpoint-up(xl) {
  .container,
  #site-content
  > main
  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide),
  #site-header .utility-bar .d-flex,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1508px;
  }
  #site-content > main .smaller-container {
    max-width: 1280px !important;
  }
}
