.fancy-heading {

}

@include media-breakpoint-up(sm) {
  .fancy-heading {
    .wp-block-button {
      align-self: center;
    }
  }
}
@include media-breakpoint-up(xl) {
  .fancy-heading {
    p {
      font-size: 1rem;
    }

  }
}
@include media-breakpoint-down(xs) {
  .fancy-heading {
    .wp-block-button {
      display: none;
    }
  }
}
