.featured-escapes {
  max-width: 1342px !important;

  .wp-block-image {
    position: relative;
    height: 100%;

    > figcaption {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(#333333, .75);
      margin: 0;
      color: #fff;
      font-weight: 300;
      font-size: 1.15rem;
      a {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        color: #fff;
      }

      strong {
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: .6rem;
      }
    }
  }

  .wp-block-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}


@include media-breakpoint-up(md) {
  .featured-escapes {
    .wp-block-column:not(:first-child) {
      margin-left: 2rem;
    }

    .wp-block-column {
      &:first-child {
        flex: 0 0 60%;

        figure {
          margin-bottom: 0;
        }
      }

      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        flex: 0 0 calc(40% - 2rem);

        figure {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .wp-block-image {
      overflow: hidden;

      > figcaption {
        transition: top 0.4s ease-in-out;
        top: 100%;
      }

      &:hover {
        > figcaption {
          top: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .featured-escapes {
    display: block;

    .wp-block-column {
      flex-basis: 100% !important;
    }

    .wp-block-column:nth-child(even) {
      margin-left: 0;
    }
  }
}
