.widget {
  .widget-title {
    background-color: transparent;
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: none;
    border: none;
    padding: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    color: #fff;
    padding: 0.2rem 0;
    display: block;

    &:hover {
      color: theme-color("secondary");
    }
  }

  .lg-social-media {
    > li {
      display: inline-block;

      > a {
        display: block;
        padding-right: 0.5rem;
        font-size: 0.8em;
      }

      i {
        background-color: #fff;
        color: theme-color("primary");
        padding: 5px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        text-align: center;
        transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
        &:hover {
          background-color: theme-color("secondary");
        }
      }
    }
  }
}

#site-footer {
  background-color: theme-color("primary");

  #site-legal {
    font-weight: 300;
    font-size: 14px;

    a:hover {
      color: theme-color("secondary");
    }
  }

  .site-info {
    margin-bottom: 1rem;
  }

  #site-footer-main {
    padding: 2.5rem;
  }

  ul > li {
    margin-bottom: 0;
  }
}

.site-footer-alpha {
  .textwidget {
    > ul {
      li {
        position: relative;
        padding-left: 1.6rem;
        margin-bottom: 0.5rem;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          margin: auto;
          width: 20px;
          height: 20px;
          background-size: contain;
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: top;
        }
      }

      li:first-child {
        &:before {
          background-image: url("../images/location-icon.png");
        }
      }

      li:nth-child(2) {
        &:before {
          background-image: url("../images/phone-icon.png");
        }
      }

      li:last-child {
        &:before {
          background-image: url("../images/email-icon.png");
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .widget .widget-title {
    margin-bottom: 1.5rem;
  }
  #site-footer {
    #site-footer-main {
      padding: 5rem 2.5rem;
    }
  }
  #menu-explore-services {
    > li {
      float: left;
      width: 50%;

      a {
        padding-right: 2rem;
      }
    }
  }

  .site-footer-bravo {
    flex: 0 0 17%;
  }
  .site-footer-charlie {
    flex: 0 0 40%;
  }
  .site-footer-delta {
    flex: 0 0 181px;
  }
}
