.get-a-quote {
  max-width: 1200px !important;
  form {
    ::placeholder {
      color: #525252;
    }
    option[selected="selected"] {
      color: #525252;
    }
    .gform_body {
      .gform_fields {
        list-style: none;
        padding-left: 0;
        .gfield {
          .ginput_container {
            $field_padding: 0.75rem;
            $field_border: 1px solid #525252;
            input,
            select,
            textarea {
              padding: $field_padding;
              width: 100%;
              border: $field_border;
            }
            textarea {
              height: 150px;
            }
          }
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }
    .gform_footer {
      input[type="submit"] {
        background-color: theme-color("tertiary");
        border-color: theme-color("tertiary");
      }
    }
  }
}
