.hamburger {
  position: absolute;
  top: -62px;
  right: 15px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  height: 1px;
  width: 1.25rem;
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger-inner:after {
  bottom: -8px;
}

.hamburger-box {
  width: 1.25rem;
}
