#site-header {
  .navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav {
    width: 100%;
  }

  li {
    margin-bottom: 0;
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 4rem;
  }

  svg {
    width: 1.25rem;
  }
}

.header-top__right {
  padding-right: 2rem;

  .icon-wrap {
    > div {
      display: none;
    }
  }

  > a {
    display: inline-block;
    padding: 0 0.6rem;
  }
}

@include media-breakpoint-down($nav-breakpoint-down) {
  .main-navigation .navbar .navbar-nav > li > a {
    padding: 1.5rem 0;
  }
}

@include media-breakpoint-up($nav-breakpoint-up) {
  .main-navigation {
    .container {
      max-width: none;
    }
  }
  #main-navbar {
    background-color: theme-color("primary");

    .navbar-nav {
      li:last-child {
        margin-left: auto;

        .nav-link {
          background-color: theme-color("secondary");
          color: #fff;
          font-size: 0.8rem;
          font-weight: 600;
          padding-left: 1rem;
          padding-right: 1rem;

          &:hover,
          &:active,
          &:focus {
            background-color: darken(theme-color("secondary"), 5%);
          }
        }
      }
    }

    .nav-link {
      color: #fff;
      font-size: 0.8rem;
      padding: 0.8rem 1.5rem 0.8rem 0;

      &:hover,
      &:active,
      &:focus {
        color: theme-color("secondary");
      }
    }

    .dropdown-menu {
      background-color: #fff;
    }

    .dropdown-item {
      font-size: 1.125rem;
      color: theme-color("primary");

      &:hover,
      &:active,
      &:focus {
        color: theme-color("secondary");
      }
    }
  }

  #site-header .navbar {
    padding: 0;
  }
  .header-top {
    img {
      width: auto;
    }

    svg {
      width: 2.4rem;
    }
  }

  .header-top__right {
    padding-right: 0;

    .icon-wrap {
      display: flex;

      > div {
        display: block;
        padding-left: 1rem;

        > span {
          font-size: 1.25rem;
          display: block;
          line-height: 1.2;

          &:first-child {
            color: theme-color("primary");
          }
        }
      }
    }

    > a {
      padding-right: 0;
      padding-left: 2.5rem;
    }
  }
}

@media (min-width: 1600px) {
  .main-navigation {
    .container {
      max-width: 1620px;
    }
  }
  #main-navbar {
    .nav-link {
      font-size: 1rem;
    }
    .navbar-nav {
      li:last-child {
        .nav-link {
          font-size: 1.15rem;
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }
    }
  }
}
