.service-img-text.img-text {
  img {
    width: auto;
    height: auto;
  }
}
@include media-breakpoint-down(sm) {
  .service-img-text.img-text {
    width: 100% !important;
    background-color: #f1f6f1;
    padding: 0 1rem !important;

    .img-text__media {
      display: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .service-img-text.img-text {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -40%;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: #f1f6f1;
    }

    .img-text__inner {
      position: relative;
      z-index: 1;
    }

    .img-text__content {
      padding: 3rem 1rem 3rem 3rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .service-img-text.img-text {
    .img-text__inner {
      margin: 0;
    }

    .img-text__content {
      background-color: #f1f6f1;
      padding: 3rem 1rem 3rem 8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 740px;
    }
  }
}
