.service-cover {
  .wp-block-cover__inner-container {
    color: theme-color("primary");
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1.5rem;
    min-height: 1.5rem;
    background-color: theme-color("tertiary");
  }

  h2 {
    font-size: 1.375rem;
    max-width: 950px;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  h3 {
    font-size: 1.375rem;
  }
}

@include media-breakpoint-up(xl) {
  .service-cover {
    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.15rem;
    }
  }
}
