.wp-block-lg-blocks-slider {
  .slick-track {
    display: flex;
  }

  ul.slick-dots {
    bottom: 10px;
    li {
      margin: 0 0.5rem;
      button:before {
        font-size: 10px;
        content: "\f111";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #fff;
      }
    }
    @include media-breakpoint-up(sm) {
      bottom: 25px;
    }
  }

  .slick-slide {
    height: inherit !important;
  }

  .wp-block-cover {
    z-index: 1;
    padding: 2rem 1rem;

    &:before {
      z-index: -1 !important;
    }

    .wp-block-cover__inner-container {
      width: 100%;
    }

    h1 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .wp-block-button__link {
    padding: 0.5rem 1.6rem;
  }
}

@include media-breakpoint-up(sm) {
  .wp-block-lg-blocks-slider {
    .wp-block-cover {
      padding: 4rem 1rem;

      h1 {
        margin-bottom: 2rem;
      }

      p {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }

    .wp-block-button__link {
      padding: 0.6rem 2rem;
      font-size: 1.25rem;
    }
  }
}
